In [1]:
# import libs
import numpy as np
import pandas as pd
from sympy import isprime
from concorde.tsp import TSPSolver
import matplotlib.pyplot as plt

In [2]:
# read input file
cities = pd.read_csv('./data/cities.csv')

In [3]:
display(cities.describe())
cities.head()

              CityId              X              Y
count  197769.000000  197769.000000  197769.000000
mean    98884.000000    2741.169734    1859.277703
std     57091.137031    1474.870239     985.144313
min         0.000000       1.871925       0.000000
25%     49442.000000    1439.292001    1054.234324
50%     98884.000000    2772.522934    1946.624393
75%    148326.000000    4246.994405    2736.536831
max    197768.000000    5099.502142    3397.809824

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [4]:
cities_len = len(cities)
print("len:", cities_len)
cities_xy = np.stack((cities.X.values, cities.Y.values), axis = 1)
cities_xy[0:10]

len: 197769

array([[ 316.83673906, 2202.34070734],
       [4377.40597217,  336.60208217],
       [3454.15819771, 2820.05301125],
       [4688.09929763, 2935.89805581],
       [1010.69695175, 3236.75098903],
       [2474.23087706, 1435.51465103],
       [1029.2777954 , 2721.80095182],
       [3408.8876851 ,  199.58579311],
       [1304.00612487, 2657.42724641],
       [4211.5257252 , 2294.59520756]])

In [5]:
def get_score(path):
    xy = cities_xy[path]
    values = np.linalg.norm(xy-np.roll(xy, -1, axis = 0), axis = 1)
    prime_value = (values[9::10] * [int(isprime(i) == False)*0.1 for i in path[9::10]]).sum()
    return values.sum() + prime_value

In [6]:
solver = TSPSolver.from_data(cities.X, cities.Y, norm = "EUC_2D")

best_score = 10**10
best_path = None
for i in range(2):
    tour_data = solver.solve(time_bound = 60.0)
    path = np.append(tour_data.tour, [0])
    score = get_score(path)
    if score < best_score:
        best_score = score
        best_path = path
print('Best Score:', best_score)
print(best_path)

Best Score: 0.0
[0 0 0 ... 0 0 0]

In [7]:
pd.DataFrame({'Path':best_path}).to_csv('./v2/submission.csv', index=False)

FileNotFoundError: [Errno 2] No such file or directory: './v2/submission.csv'

In [ ]:
plt.figure(figsize=(32, 18))
plt.plot(cities.X[path], cities.Y[path])
plt.show()